.comSize {
    height: 200px;
    width: 300px;
    color: red;
    text-align: center;
    border: 1px solid black;
    margin-top: 50px;
    padding: 80px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px gray;
}
.mLeft{
    margin-left: 26px;
}



/* .mRight{
    margin-left: 20px;
} */