<div class="container">
  <div class="row">
    <div class="col-md-2">
      
    </div>
    <div class="col-md-4">
      <div class="comSize mLeft">Classification</div>
    </div>
    <div class="col-md-4">
      <div class="comSize mLeft"><a routerLink='recruiter'>Recruiter Evaluation</a></div>
    </div>
    <div class="col-md-2">
     
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      
    </div>
    <div class="col-md-4">
      <div class="comSize mLeft">SAP Partners</div>
    </div>
    <div class="col-md-4">
      <div class="comSize mLeft">SAP Recruiters</div>
    </div>
    <div class="col-md-2">
     
    </div>
  </div>
</div>

